
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    color: white;
    font-weight: lighter;
}
.container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#titleP {
    margin-top: 10px;
    line-height: 19.5pt;
    font-size: 25px;
}
#main,
#concept {
    font-size: 20px;;
}
#info {
    margin-top: 25px;
    color: #FDB913;
}
#nsei {
    font-size: 16px;
    letter-spacing: 13.1pt;
}
#datawake {
    margin-top: 20px;
    width: 50%;
}
.slider {
    margin-top: 35%;
    width: 80%;
    max-width: 600px;
    overflow: hidden;

    border-radius: 10px;
}
.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
}
.slide img {
    width: 100%;
    display: block;
    margin: auto;
}
p{
    text-align: center;
}
